<div class="container-xs-height full-height">
  <div class="row-xs-height">
    <div class="col-xs-height col-middle">
      <div class="error-container text-center">
        <h1 class="error-number">{{title}}</h1>
        <h2 class="semi-bold">Sorry but we could not find the item <b>{{item}}</b></h2>
        <p>
            Please ensure the target address is correct.<br />
            If what you are looking for is a view, it is possible there is no app serving the view.<br />
            If what you are looking for is an app, it is possible the app has no (running) server.<br />
            If what you are looking for is a file, it is possible the file does not exist.
        </p>
        <p>Contact your system administrator.</p>
        <a href="/home" class="btn btn-block btn-info btn-cons m-b-10">Go Home</a>
      </div>
    </div>
  </div>
</div>