<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../assets/css/jquery-ui.css">

		<script type="text/javascript" src="../assets/js/jQuery-2.1.4.min.js"></script>
		<script type="text/javascript" src="../assets/js/jquery-ui.min.js"></script>

		<script type="text/javascript" src="../client/bolt.config-0.1.0.js"></script>
		<script type="text/javascript" src="../client/bolt.service-0.1.0.js"></script>

		<script type="text/javascript" src="../client/bolt.jq/bolt.jq.window-0.1.0.js"></script>
		<script type="text/javascript" src="../client/bolt.jq/bolt.jq.app-0.1.0.js"></script>

		<script type="text/javascript">
			window.onload = function(){
				Bolt.Config.setHost("{{host}}");
				Bolt.Config.setPort("{{port}}");
				Bolt.Config.setProtocol("{{protocol}}");
			};

			var run = function(){
				Bolt.JQ.AppManager.startAppByTag('home', { mode: 'full-screen' });
			}
			var run2 = function(){
				Bolt.JQ.AppManager.startAppByName('notes', { mode: 'window', instance: 'new' });
			}
			var run3 = function(){
				Bolt.JQ.AppManager.stopAppByName('notes');
			}
		</script>
	</head>
	<body>
		<button onclick="run()">Start Home</button><br />
		<button onclick="run2()">Start Notes</button><br />
		<button onclick="run3()">Stop Notes</button><br />
	</body>
</html>