<div class="register-container full-height sm-p-t-30">
  <div class="container-sm-height full-height">
    <div class="row row-sm-height">
      <div class="col-sm-12 col-sm-height col-middle">
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group form-group-default">
              <label>App</label>
              <input type="text" name="app" id="app" placeholder="app name (download) or path (sideload)" class="form-control" required>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group form-group-default">
              <label>Version</label>
              <input type="text" name="version" id="version" placeholder="(for download only)" class="form-control" required>
            </div>
          </div>
        </div>

        <button class="btn btn-primary btn-cons m-t-10" name="download" id="download">Download</button>
        <button class="btn btn-primary btn-cons m-t-10" name="sideload" id="sideload">Sideload</button>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
    $("#app").val("{{app}}")
    $("#version").val("{{version}}")
    var success_redirect = "{{success}}";

    $("#download").click(function(){
        var appname = $("#app").val();
        var version = $("#version").val();

        if (!appname) {
          sweetAlert("Error", "App name not specified!", "error");
          return;
        }

        window.location.href = "/download?app=" + appname + (success_redirect ? "&success=" + success_redirect : "") + (version ? "&version=" + version : "");
    });

    $("#sideload").click(function(){
        var apppath = $("#app").val();

        if (!apppath) {
          sweetAlert("Error", "App path not specified!", "error");
          return;
        }

        window.location.href = "/sideload?app=" + apppath + (success_redirect ? "&success=" + success_redirect : "");
    });
  });
</script>