<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="apple-touch-icon" href="public/bolt/pages/pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="public/bolt/pages/pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="public/bolt/pages/pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="public/bolt/pages/pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="public/bolt/pages/pages/ico/favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="public/bolt/pages/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="public/bolt/pages/assets/plugins/bootstrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="public/bolt/pages/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="public/bolt/pages/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="public/bolt/pages/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="public/bolt/pages/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="public/bolt/pages/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="public/bolt/pages/pages/css/pages.css" rel="stylesheet" type="text/css" />
    <!--BOLT-->
    <script type="text/javascript" src="../client/bolt.config-0.1.0.js"></script>
    <!--[if lte IE 9]>
        <link href="public/bolt/pages/pages/css/ie9.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script type="text/javascript">
    window.onload = function()
    {
      // fix for windows 8
      if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
        document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="public/bolt/pages/pages/css/windows.chrome.fix.css" />'
    }
    </script>
  </head>
  <body class="fixed-header ">
    <div class="login-wrapper ">
      <!-- START Login Background Pic Wrapper-->
      <div class="bg-pic">
        <!-- START Background Pic-->
        <img src="public/bolt/pages/assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" data-src="public/bolt/pages/assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" data-src-retina="public/bolt/pages/assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" alt="" class="lazy">
        <!-- END Background Pic-->
        <!-- START Background Caption-->
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
          <h2 class="semi-bold text-white">
					Log into Bolt!</h2>
          <p class="small">
            All work copyright of respective owners, otherwise © 2016 Bolt.
          </p>
        </div>
        <!-- END Background Caption-->
      </div>
      <!-- END Login Background Pic Wrapper-->
      <!-- START Login Right Container-->
      <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
          <img src="public/bolt/pages/assets/img/logo.png" alt="logo" data-src="public/bolt/pages/assets/img/logo.png" data-src-retina="public/bolt/pages/assets/img/logo_2x.png" width="78" height="22">
          <p class="p-t-35">Sign into your account</p>
          <!-- START Login Form -->
          <div>
            <!-- START Form Control-->
            <div class="form-group form-group-default">
              <label>Login</label>
              <div class="controls">
                <input type="text" name="username" id="username" placeholder="User Name" class="form-control" required>
              </div>
            </div>
            <!-- END Form Control-->
            <!-- START Form Control-->
            <div class="form-group form-group-default">
              <label>Password</label>
              <div class="controls">
                <input type="password" class="form-control" name="password" id="password" placeholder="Credentials" required>
              </div>
            </div>
            <button class="btn btn-primary btn-cons m-t-10" value="submit" id="submit">Sign in</button>
          </div>
          <!--END Login Form-->
        </div>
      </div>
      <!-- END Login Right Container-->
    </div>
    <!-- BEGIN VENDOR JS -->
    <script src="public/bolt/pages/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="public/bolt/pages/assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="public/bolt/pages/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="public/bolt/pages/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="public/bolt/pages/assets/plugins/bootstrapv3/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="public/bolt/pages/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="public/bolt/pages/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="public/bolt/pages/assets/plugins/jquery-bez/jquery.bez.min.js"></script>
    <script src="public/bolt/pages/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="public/bolt/pages/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="public/bolt/pages/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="public/bolt/pages/assets/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="public/bolt/pages/assets/plugins/classie/classie.js"></script>
    <script src="public/bolt/pages/assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
    <script src="public/bolt/pages/assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <!-- END VENDOR JS -->
    <script src="public/bolt/pages/pages/js/pages.min.js"></script>
    <script>
    function redirect(user){
      var success_redirect = "{{success}}";
      if(success_redirect) {
        $.ajax({
          url: "{{protocol}}://{{host}}:{{port}}/api/tokens",
          data: { object: user._id },
          type: "POST",
          headers: {'X-Bolt-Req-Id': '{{reqid}}'},
          success: function(response, status, xhr){
            if(response.code == 0){
              var token = response.body;
              window.location.href = success_redirect + "?user=" + token;
            }
            //TODO: else
          },
          error: function(xhr, status, err){}
        });
      }
      else {
        window.location.href = "{{protocol}}://{{host}}:{{port}}/home";
      }
    }

    $(function()
    {
        //$('#form-login').validate()
        $.ajax({
          url: "{{protocol}}://{{host}}:{{port}}/api/users/@current",
          type: "GET",
          headers: {'X-Bolt-Req-Id': '{{reqid}}'},
          success: function(response, status, xhr){
            if(response.code == 0){
              redirect(response.body);
            }
          },
          error: function(xhr, status, err){}
        });
    })

    $(document).ready(function(){
        Bolt.Config.setHost("{{host}}");
        Bolt.Config.setPort("{{port}}");
        Bolt.Config.setProtocol("{{protocol}}");

        var username,password;
        $("#submit").click(function(){
            username=$("#username").val();
            password=$("#password").val();
            /*
            * Perform some validation here.
            */
            $.ajax({
              url: "{{protocol}}://{{host}}:{{port}}/api/users/login",
              data: { name: username, password: password },
              type: "POST",
              beforeSend: function(xhr) {
                xhr.setRequestHeader('X-Bolt-Req-Id', '{{reqid}}');
              },
              success: function(response, status, xhr){
                if(response.code == 0){
                  redirect(response.body);
                }
                else {
                  //TODO: error
                  console.log(response);
                }
              },
              error: function(xhr, status, err){}
            });
        });
      });
    </script>
  </body>
</html>