<div class="login-wrapper ">
  <!-- START Login Background Pic Wrapper-->
  <div class="bg-pic">
    <!-- START Background Pic-->
    <img src="public/bolt/pages/assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" data-src="public/bolt/pages/assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" data-src-retina="public/bolt/pages/assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" alt="" class="lazy">
    <!-- END Background Pic-->
    <!-- START Background Caption-->
    <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
      <h2 class="semi-bold text-white">
      Log into Bolt!</h2>
      <p class="small">
        All work copyright of respective owners, otherwise © 2016 Bolt.
      </p>
    </div>
    <!-- END Background Caption-->
  </div>
  <!-- END Login Background Pic Wrapper-->
  <!-- START Login Right Container-->
  <div class="login-container bg-white">
    <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
      <img src="public/bolt/native/img/logo.png" alt="logo" width="78" height="22">
      <p class="p-t-35">Sign into your account</p>
      <!-- START Login Form -->
      <div>
        <!-- START Form Control-->
        <div class="form-group form-group-default">
          <label>Login</label>
          <div class="controls">
            <input type="text" name="username" id="username" placeholder="User Name" class="form-control" required>
          </div>
        </div>
        <!-- END Form Control-->
        <!-- START Form Control-->
        <div class="form-group form-group-default">
          <label>Password</label>
          <div class="controls">
            <input type="password" class="form-control" name="password" id="password" placeholder="Credentials" required>
          </div>
        </div>
        <button class="btn btn-primary btn-cons m-t-10" value="submit" id="submit">Sign in</button>
      </div>
      <!--END Login Form-->
    </div>
  </div>
  <!-- END Login Right Container-->
</div>
<script>
function redirect(user){
  var success_redirect = "{{success}}";
  if(success_redirect) {
    $.ajax({
      url: "{{protocol}}://{{host}}:{{port}}/api/tokens",
      data: { object: user._id },
      type: "POST",
      headers: {'X-Bolt-App-Token': '{{appToken}}'},
      success: function(response, status, xhr){
        if(response.code == 0){
          var token = response.body;
          window.location.href = success_redirect + "?user=" + token;
        }
        //TODO: else
      },
      error: function(xhr, status, err){
        alert(xhr.responseText);
      }
    });
  }
  else {
    window.location.href = "{{protocol}}://{{host}}:{{port}}/home";
  }
}

$(function()
{
    //$('#form-login').validate()
    $.ajax({
      url: "{{protocol}}://{{host}}:{{port}}/api/users/@current",
      type: "GET",
      headers: {'X-Bolt-App-Token': '{{appToken}}'},
      success: function(response, status, xhr){
        if(response.code == 0){
          redirect(response.body);
        }
      },
      error: function(xhr, status, err){
        alert(xhr.responseText);
      }
    });
})

$(document).ready(function(){
    var username,password;
    $("#submit").click(function(){
        username=$("#username").val();
        password=$("#password").val();
        /*
        * Perform some validation here.
        */
        $.ajax({
          url: "{{protocol}}://{{host}}:{{port}}/api/users/login",
          data: { name: username, password: password },
          type: "POST",
          beforeSend: function(xhr) {
            xhr.setRequestHeader('X-Bolt-App-Token', '{{appToken}}');
          },
          success: function(response, status, xhr){
            if(response.code == 0){
              redirect(response.body);
            }
            else {
              sweetAlert(response.errorUserTitle, response.errorUserMessage, "error");
            }
          },
          error: function(xhr, status, err){
            alert(xhr.responseText);
          }
        });
    });
  });
</script>