<div class="register-container full-height sm-p-t-30">
  <div class="container-sm-height full-height">
    <div class="row row-sm-height">
      <div class="col-sm-12 col-sm-height col-middle">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group form-group-default">
              <label>App</label>
              <input type="text" name="app" id="app" placeholder="app name" class="form-control" required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="checkbox check-success checkbox-circle">
              <input name="delete_folder" id="delete_folder" type="checkbox">
              <label for="delete_folder">Delete app's folder from <i>node_modules</i></label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="checkbox check-success checkbox-circle">
              <input name="delete_public" id="delete_public" type="checkbox">
              <label for="delete_public">Delete app's public folder</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="checkbox check-success checkbox-circle">
              <input name="delete_db" id="delete_db" type="checkbox">
              <label for="delete_db">Delete app's database</label>
            </div>
          </div>
        </div>

        <button class="btn btn-primary btn-cons m-t-10" name="uninstall" id="uninstall">Uninstall</button>
        <img class="image-responsive-height demo-mw-50" id="progress-circle" src="public/bolt/native/img/progress.svg" alt="Progress">
      </div>
    </div>
  </div>
</div>
<script>
function redirect(){
  var success_redirect = "{{success}}";

  if (success_redirect) {
    window.location.href = success_redirect;
  }
  else {
    window.location.href = "/home";
  }
}

$(document).ready(function(){
    $("#progress-circle").hide();

    $("#app").val("{{app}}")

    var delete_folder = false, delete_public = false, delete_db = false;

    $("#uninstall").click(function(){
        $("#uninstall").hide();
        $("#progress-circle").show();

        var appnm = $("#app").val();
        delete_folder = $("#delete_folder").is(":checked");
        delete_public = $("#delete_public").is(":checked");
        delete_db = $("#delete_db").is(":checked");

        if (!appnm) {
          sweetAlert("Error", "App name not specified!", "error");
          $("#uninstall").show();
          $("#progress-circle").hide();
          return;
        }

        $.ajax({
          url: "/api/apps/" + appnm,
          data: { deleteSourceFolder: delete_folder, deletePublicFolder: delete_public, deleteDatabase: delete_db },
          type: "DELETE",
          headers: {'X-Bolt-App-Token': '{{token}}'},
          success: function(response, status, xhr){
            if(response.code == 0){
              sweetAlert({
                title: "App uninstalled!",
                text: response.body.displayName + " has been uninstalled!",
                type: "success",
                showCancelButton: false,
                closeOnConfirm: true
                }, function(isConfirm){
                  if (isConfirm) {
                    redirect();
                  }
                });
            }
            else {
              swal(response.errorUserTitle, response.errorUserMessage, "error");
              $("#uninstall").show();
              $("#progress-circle").hide();
            }
          },
          error: function(xhr, status, err){
            alert(xhr.responseText);
            $("#uninstall").show();
            $("#progress-circle").hide();
          }
        });
    });
  });
</script>