__docs/
__dump/
__raw/
data/
dist/**/*
!dist/
fs/
node_modules/
node_modules-dev/*
public/
!public/bolt/native/
!public/bolt/users/user.png
sys/bins/mongodb/darwin/**/*
!sys/bins/mongodb/darwin/
sys/bins/mongodb/linux/**/*
!sys/bins/mongodb/linux/
sys/bins/mongodb/win32/**/*
!sys/bins/mongodb/win32/
sys/client/
sys/data/mongodb/**/*
!sys/data/mongodb/
test_nodegit/*
.env
./*.png
./*.jpg
npm-debug.log*