__raw/
_github.io/_notes/
node_modules/*
sys/bins/darwin/*
sys/bins/linux/*
sys/bins/win32/*
sys/bins/win32/*.*
sys/bins/win32/*.exe
sys/bins/win32/*.dll
sys/bins/win32/*.pdb
sys/data/mongodb/**/*
sys/data/mongodb/*
sys/data/mongodb/
sys/routes/
./*.png
./*.jpg