__docs/
__dump/
__raw/
_github.io/_notes/
node_modules/*
public/
!public/bolt
sys/bins/mongodb/darwin/*
sys/bins/mongodb/linux/*
sys/bins/mongodb/win32/*
sys/bins/mongodb/win32/*.*
sys/bins/mongodb/win32/*.exe
sys/bins/mongodb/win32/*.dll
sys/bins/mongodb/win32/*.pdb
sys/data/mongodb/**/*
sys/data/mongodb/*
sys/data/mongodb/
sys/routes/
./*.png
./*.jpg